@media(max-width: 1600px) {
    .about__info::after,
    .about__gallery::before,
    .search__video::after,
    .title__map::before {
        font-size: 270px;
    }
    .about__info::after {
        right: -25%;
    }
    .search__video::after {
        right: -40%;
    }
}

@media(max-width: 1300px) {
    .about__info::after,
    .about__gallery::before,
    .search__video::after,
    .title__map::before {
        font-size: 200px;
    }
    .about__info::after {
        right: -20%;
    }
    .search__video::after {
        right: -30%;
    }
}

@media(max-width: 1200px) {
    .about__info::after {
        right: auto;
        left: -150px;
    }
    .search__video::after {
        right: auto;
        left: -195px;
    }
    .about__gallery::before {
        right: 2%;
        left: auto;
        top: -145px;
    }
    .title__map::before {
        right: 2%;
        left: auto;
        top: 0;
    }
}

@media(max-width: 1100px) {
    .form__box-text {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .map__form {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .header__top {
        padding-top: 10px;
    }
    .about__info::after,
    .about__gallery::before,
    .search__video::after,
    .title__map::before {
        font-size: 120px;
    }
    .about__info::after {
        left: -105px;
    }
    .search__video::after {
        left: -142px;
    }
}

@media(max-width: 1075px) {
    button.mfp-close,
    button.mfp-arrow {
        display: none;
    }
}

@media(max-width: 1032px) {
    .about__info::after,
    .about__gallery::before,
    .search__video::after,
    .title__map::before {
        display: none;
    }
    .form,
    .map__box,
    .map {
        margin-bottom: 100px;
    }
    .title__map-form,
    .form__title {
        margin-bottom: 30px;
    }
    .about__title,
    .title__map {
        margin-bottom: 50px;
    }
    .about__gallery {
        grid-column-gap: 14px;
    }
    .gallery__item {
        height: calc(104px + (320 - 104) * ((100vw - 400px) / (1032 - 400)));
    }
    .search__video {
        max-width: 695px;
        height: 482px;
    }
    .form__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__gradient {
        padding: 100px 0;
    }
    .form__info {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .form__box-text {
        order: -1;
    }
    .form__box .form__box-text {
        max-width: 255px;
    }
    .form__box {
        margin: 0 auto;
    }
}

@media(max-width: 960px) {
    .header__title {
        font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (960 - 320)));
        line-height: calc(38px + (64 - 38) * ((100vw - 320px) / (960 - 320)));
    }
    .title {
        font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (960 - 320)));
        line-height: calc(26px + (48 - 26) * ((100vw - 320px) / (960 - 320)));
    }
    .map__form .form__box-phone,
    .map__form .form__box-name,
    .map__form .form__btn {
        margin: 0 5px;
    }
    .about__info-text {
        font-size: 16px;
        line-height: 23px;
    }
}

@media(max-width: 841px) {
    .map__form .form__box-phone,
    .map__form .form__box-name {
        margin: 0 5px 10px;
    }
    .gallery__text {
        bottom: 39px;
        left: 24px;
    }
    .logo-footer {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
}

@media(max-width: 800px) {
    .burger__menu {
        display: flex;
    }
    .burger__menu.active::before {
        transform: rotate(45deg);
        top: 11px;
    }
    .burger__menu.active::after {
        transform: rotate(-45deg);
        bottom: 11px;
    }
    .burger__item.active {
        display: none;
    }
    .nav__list {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8));
        width: 100%;
        z-index: 4;
        padding: 10px 0 20px;
        top: -200px;
        transition: all .5s;
    }
    .nav__list.active {
        top: 80px;
    }
    .nav__list-item {
        width: 100%;
        text-align: center;
    }
    .nav__list-item a {
        display: block;
    }
    .nav__list-item+.nav__list-item {
        margin-left: 0;
    }
    .header__contact {
        flex-direction: column;
    }
    .header__contact-adress,
    .heder__contact-phone {
        margin-right: 0;
        font-size: 16px;
    }
    .header {
        margin-bottom: 70px;
    }
    .about__info {
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    .about__info-img {
        margin: 0 auto 26px;
    }
    .about__info-text {
        margin: 0 auto;
    }
    .about__info-item {
        flex: 1 0 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 732px) {
    .search__video iframe {
        width: 90%;
        height: 100%;
    }
}

@media(max-width: 650px) {
    .gallery__text {
        bottom: 30px;
        left: 20px;
    }
    body {
        font-size: 14px;
        line-height: 21px;
    }
    .footer__list:nth-child(4) {
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }
    .social {
        margin: 0 auto;
    }
    .footer__inner {
        justify-content: space-around;
    }
}

@media(max-width: 480px) {
    .gallery__text {
        bottom: 20px;
    }
    .search__video {
        height: 300px;
    }
    .form__box {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 7px;
    }
    .form__box .form__box-text {
        order: 3;
    }
    .search__video {
        margin-top: 30px;
    }
    .form,
    .map__box,
    .map {
        margin-bottom: 70px;
    }
    .header {
        margin-bottom: 50px;
    }
}

@media(max-width: 400px) {
    .about__gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery__item {
        height: 160px;
    }
    .about__info-item {
        flex: 1 0 100%;
        margin-bottom: 30px;
    }
    .about__info-img {
        margin: 0 auto 10px;
    }
}